@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

.header {
  height: 89px;
  background-color: #404EED;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.feed {
  display: flex;

}

.menu,
.image {
  width: 50vw;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  padding: 40px 20px;
}

.menu p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #232323;
}

.titulo {
  padding-bottom: 18px;
}

.escolha>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #C4C4C4;
  border: 3px solid #C4C4C4;
  position: relative;
}

.selecionado {
  border: 3px solid #404EED;
}

.menu img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  background-color: #404EED;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
  min-height: 470px;
}

.escolha {
  display: flex;
  gap: 45px;
}

.referencia>div {
  display: flex;
  flex-direction: column;
  gap: 24px
}

.referencia input {
  width: 380px;
  height: 40px;
  background: #F2F2F2;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #232323;
  padding-left: 16px;
}

.referencia input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #818181;
}

.referencia button {
  width: 400px;
  height: 40px;
  background-color: #C4C4C4;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FCFCFC;
}

.referencia .pronto {
  background-color: #404EED;
}

.pedido {
  height: min-content;
  background-color: #F2F2F2;
  padding: 31px 70px 31px 122px;
}

.titulo-pedido {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #232323;
  padding-bottom: 15px;
}

.pedido ul {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
}

.pedido li {
  width: 202px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 17px 0;
}

ul img {
  width: 180px;
  height: 180px;
  object-fit: contain;

}

ul p {
  font-size: 20px;
  line-height: 23px;
  color: #232323;
  text-align: center;
}

@media(max-width: 800px) {
  .menu {
    width: 100%;
    padding: 21px 0 50px 0;
    align-items: center;
  }

  .image {
    display: none;
  }

  .pedido {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 0;
  }

  .pedido ul {
    flex-direction: column;
  }

}